.category {
  height: 570px;
  padding: 4px;
  margin: 8px 12px;

  .title {
    width: 100%;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom  : 20px;
    margin-left    : 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      color           : green;
      font-size       : 16px;
      font-weight     : 500;
      border          : 1px solid green;
      padding         : 5px;
      border-radius   : 3px;
      cursor          : pointer;
      margin-right: 5px;
    }
  }
  //modal

  .modal-category {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content-category {
      width: 600px;
      margin-bottom: 200px;
      background-color: white;
      padding: 16px 30px;
      border-radius: 3px;

      .new-category-title {
        font-size: 20px;
        margin-bottom: 15px;
        color: rgba(0, 0, 0, 0.8);
      }

        .formInput {
          width: 100%;
          display: flex;
          margin-bottom: 10px;

          label {
            display: flex;
            color: rgba(0, 0, 0, 0.7);
            font-weight: 500;
            align-items: center;
            gap: 15px;
          }

          .left-form {
            flex: 1;

            input {
              padding: 10px;
              width: 96%;
              font-weight: 500;
              color: rgba(0, 0, 0, 0.7);
              border: 1px solid #999;
              border-radius: 2px;
              margin-top: 12px;
            }

            .category-btn-add {
              width           : 70px;
              padding         : 4px 6px;
              border          : none;
              border-radius   : 2px;
              background-color: rgba(0, 139, 51, 0.619);
              color           : white;
              font-size       : 16px;
              cursor          : pointer;
              margin-right    : 8px;
              margin-top: 26px;
            }

            .category-btn-cancle {
              width           : 70px;
              padding         : 4px 6px;
              border          : none;
              border-radius   : 2px;
              background-color: rgba(215, 41, 18, 0.649);
              color           : white;
              font-size       : 16px;
              cursor          : pointer;
            }
          }
          .right-form {
            flex: 1;
            display: flex;

            .left {
              flex: 1;
            }
            .right {
              flex: 3;
              .image-posted {
                width: 160px;
                height: 160px;
                border-radius: 50%;
              }
            }
          }
        }
    }
  }
}
