.navbar {
    height: 50px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #555;
 
    .wrapper {
       width: 100%;
       padding: 12px;
       display: flex; // sort element horizontal
       align-items: center;
       justify-content: space-between;
 
       .search {
          display: flex;
          align-items: center;
          border: 0.5px solid lightgray;
          padding: 3px;
 
 
          input {
             border: none; // delete border input
             outline: none; // delete border type input
             background: transparent; // cho che do sang toi
 
             &::placeholder {
                // trinh giu cho
                font-size: 14px;
             }
          }
       }
 
       .items {
          display: flex;
          align-items: center;
 
          .item {
             display: flex;
             align-items: center;
             margin-right: 12px;
             position: relative;
             gap: 7px;
 
             .icon {
                font-size: 20px;
             }
 
             .avatar {
                width: 32px;
                height: 32px;
                border-radius: 50%;
             }
 
             .counter {
                width: 15px;
                height: 15px;
                background-color: red;
                border-radius: 50%;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                font-weight: bold;
                position: absolute; // set position cho counter
                top: -5px; // thi set position: relative cho parent
                right: -5px;
             }
          }
       }
    }
 }