@import "../../App.scss";
$color_primary : #888;

.sidebar {
   flex: 1;
   border-right: 0.5px solid rgb(230, 227, 227);
   min-height: 100vh;
   background-color: white;

   .top {
      height: 50px;
      display: flex; // element automatic dimension & position
      align-items: center; // center vertical
      justify-content: center; // center horizontal

      .logo {
         font-size: 25px;
         font-weight: bold;
         color: $primary-color;
      }
   }

   hr {
      height: 0;
      border: 0.5px solid rgb(230, 227, 227);
   }

   .center {
      padding-left: 10px;

      ul {
         list-style: none; // delete point li
         margin: 0;
         padding: 0;
      }

      .title {
         font-size: 13px;
         font-weight: 500;
         color: #999;
         margin-top: 15px;
         margin-bottom: 5px;
      }

      li {
         display: flex;
         align-items: center;
         padding: 5px;
         cursor: pointer; // effect hover mouse

         &:hover {
            background-color: #ece8ff;
         }

         ion-icon {
            font-size: 18px;
          }

         span {
            font-size: 15px;
            color: #888;
            margin-left: 10px;
         }
      }
   }

   .bottom {
      display: flex;
      align-items: center;
      margin: 10px;

      .colorOption {
         width: 20px;
         height: 20px;
         border-radius: 5px;
         border: 1px solid $color_primary;
         cursor: pointer;
         margin: 5px;

         &:nth-child(1) {
            background-color: whitesmoke;
         }

         &:nth-child(2) {
            background-color: #333;
         }
      }
   }
}