$primary-color: green;
$primary-text: rgba(0, 0, 0, 0.75);
$btn-color-1: green;
$btn-color-2: red;
$background-color-1: rgba(0, 139, 51, 0.75);
$background-color-2: rgba(215, 41, 18, 0.75);

@mixin link {
    color: $btn-color-1;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid $btn-color-1;
    padding: 5px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
}