@import "../../App.scss"; 
.cellWithImg {
   display: flex;
   align-items: center;

   .cellImg {
     padding: 4px;
     max-width: 65px;
     min-width: 60px;
     height: 60px;
     border-radius: 50%;
     object-fit: cover;
   }
 }

 .cellAction {
   display: flex;
   align-items: center;
   gap: 10%;

   .viewButton {
     padding: 3px 6px;
     border-radius: 3px;
     color: darkblue;
     border: 1px dotted rgba(0, 0, 139, 0.384);
     cursor: pointer;
   }

   .updateButton {
     padding: 3px 6px;
     border-radius: 3px;
     color: $btn-color-1;
     border: 1px dotted $btn-color-1;
     cursor: pointer;
   }

   .deleteButton {
     padding: 3px 6px;
     border-radius: 3px;
     color: $btn-color-2;
     border: 1px dotted $btn-color-2;
     cursor: pointer;
   }
 }